body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #525252;
}

html{
  height: 100%;
}

body {
  border: solid;
  border-color: yellow;
  min-height: 100%;
  height: 1px;
}

#root {
  height: 100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-container {
  height: 100%;
  position: fixed;
  width: 70%;
  margin-left: 30%;
}

/* .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0; 
  margin: 12px;
} */

#sidebar {
  background-color: #313131;
  border: solid;
  border-radius: 10px;
  border-width: 0px;
  padding: 10px;
  height: 100%;
}

#view-default-view {
  /* border: solid !important; */
  /* border-radius: 20px !important;
  border-width: 4px !important; */
  /* border-color: #2a273d !important; */
}

#anchor-labels {
  fill: #DDDDDD;
}

#dot-labels {
  font-size: 20px;
  font-weight: 500;
}

.control-container {
  background-color: #CA3E47;
  margin: 0px 30px 0px 30px;
  border-radius: 10px;
  height: 80px;
  width: 90%;
}

.control-labels {
  color: #DDDDDD;
  font-weight: 500;
  font-size: 20px;
}

.control-value {
  color: #313131;
  font-weight: 700;
  font-size: 17px;
  width: 10px;
}

.ticks {
  display: flex;
  justify-content: space-between;
  color: #DDDDDD;
}

.tick {
  display: flex;
  justify-content: center;
  width: 1px;
  padding-top: -1;
  height: 1px;
  line-height: 5px;
  margin-bottom: 2px;
}

.custom-range::-webkit-slider-thumb {
  background: gray;
}

div.rc-slider-handle {
  background: gray;
  border: none;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.line {
  border: 1px solid #bbb;
  width: 30%;
  height: 1px;
  position: absolute;
  margin-top: 25px;
  flex-grow: 1;
}

.take-survey {
  color: #313131;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #4d93dd;
}

.take-survey:hover{
  color: #313131;
  text-decoration: none;
  background-color: #1774d6ee;
}